@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #FDDA24">
    <h1   >Cliente</h1>
    <p class="lead">Bienvenido a tu perfil de e-Banca administra tu cuenta de una forma facil y sencillla.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver mas &raquo;</a></p>
</div>

<div class="row">
    <h2>Soluiciones pensadas para ti</h2>
    <div class="col-md-4" style="border: 2px solid #00C389">
        <h2>Formas de pago</h2>
        <p>
            Paga como quieras
            Nos adaptamos a tu estilo de vida para que puedas pagar de forma fácil y con la seguridad que Banco ABC te ofrece.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="border: 2px solid #00C389">
        <h2>Tarjetas</h2>
        <p>En BAnco ABC tenemos diferentes Tarjetas de Crédito que se adaptan a tu estilo de vida.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4" style="border: 2px solid #00C389">
        <h2>Bitcoin</h2>
        <p>Ahora puedes pagar con Bitcoin tus Tarjetas de Crédito y Préstamos desde Banca Móvil y e-banca.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>